{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
	<div class="container">
		<div class="slider">
			<div class="header clearfix">
				{% include 'mainapp/includes/inc_header_menu.html' %}
			</div>
			<div class="text-slider">
				<h3 class="green">тенденции</h3>
				<h3 class="big"> удобная мебель</h3>
				<p>Новый уровень комфорта. Отличные характеристики.</p>
				<a href="{% url 'product' %}" class="button-order">заказать <img src="{% static 'mainapp/img/arrow.png' %}" alt=""></a>
			</div>
		</div>


		<div class="featured">
			<div class="tab-content">
				<div class="block">
					<img src="{% static 'mainapp/img/index_1.jpg' %}">
						<div class="text">
							<h4>Белый интерьер</h4>
							<p>Расположитесь комфортно. </p>
						</div>
				</div>
				<div class="block">
					<img src="{% static 'mainapp/img/index_2.jpg' %}">
						<div class="text">
							<h4>Уютная классика</h4>
							<p>Расположитесь уютно. </p>
						</div>
				</div>
				<div class="block">
					<img src="{% static 'mainapp/img/index_3.jpg' %}">
						<div class="text">
							<h4>Отличный стул</h4>
							<p>Расположитесь удобно. </p>
						</div>
				</div>

			</div>
		</div>
		
		<div class="clr"></div>

	</div>
{% endblock %}