{% extends 'mainapp/base.html' %}
{% load static %}
{% load my_tags %}

{% block content %}
<div class="container">
    <div class="hero-white">
        <div class="header clearfix">
            {% include 'mainapp/includes/inc_header_menu.html' %}
        </div>
    </div>
    <div class="details">
      <div class="links clearfix">
          {% include 'mainapp/includes/inc_product_category_menu.html' %}
      </div>

        <div class="details-products">
                <div class="details-slider">
                    <div class="slider-product">
                        <img src="{{ product.image | media_folder_products}}">
                    </div>
                    <div class="slider-control">
                        <div class="block">
                            <a href="#"><img src="{{ product.image | media_folder_products }}" style="width: 100%" alt="">
                                <div class="text"></div>
                            </a>
                        </div>
                        <div class="block">
                            <a href="#"><img src="{{ product.image | media_folder_products }}" style="width: 100%" alt="">
                                <div class="text"></div>
                            </a>
                        </div>
                        <div class="block">
                            <a href="#"><img src="{{ product.image | media_folder_products }}" style="width: 100%" alt="">
                                <div class="text"></div>
                            </a>
                        </div>
                    </div>
                </div>

            <div class="description">
                <h3 class="big-bold">{{ product.name }}</h3>
                <h3 class="red">Цена</h3>
                <p class="price"> {{ product.price }} <span>руб</span></p>
                <a href="{% url 'basket:add' product.pk %}" class="red-button">
                    заказать <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </a>
                <div class="description-text">
                    {{ product.description }}
                </div>
            </div>
        </div>

        <div class="related">
            <div class="title clearfix">
                <h2>Похожие продукты</h2>
                <a class="explore" href="#">показать все <img src="/static/mainapp/img/arrow.png" alt=""></a>
            </div>
            <div class="related-products clearfix">
                {% for product in related_products %}
                    <div class="block">
                        <a href="{% url 'product' product.pk %}"><img src="{{ product.image | media_folder_products }}" alt="">
                            <div class="text">
                                <img src="/static/mainapp/img/icon-hover.png" alt="img">
                                <h4>{{ product.name }}</h4>
                                <p>{{ product.short_desc }} </p>
                                <p>{{ product.category.name }} </p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}