{% load static %}
<a href="/" class="logo"></a>
<ul class="menu">
    <li><a href="{% url 'home' %}" class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}">домой</a></li>
    <li><a href="{% url 'product' %}" class="{% if request.resolver_match.url_name == 'product' %}active{% endif %}">продукты</a></li>
    <li><a href="{% url 'contact' %}" class="{% if request.resolver_match.url_name == 'contact' %}active{% endif %}">контакты</a></li>
    {% if user.is_authenticated %}
        <li>
            <div class="dropdown">
                  <a data-bs-toggle="dropdown" aria-expanded="false">
                    {{ user.first_name|default:'Пользователь' }}
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item" href="{% url 'auth:edit' %}">Редактировать</a></li>
                    {% if user.is_superuser %}
                      <li><a class="dropdown-item" href="admin/">Админка</a></li>
                    {% endif %}
                    {% if user.is_staff %}
                      <li><a class="dropdown-item" href="{% url 'admin_staff:users' %}">Для персонала</a></li>
                    {% endif %}
                    <li><a class="dropdown-item" href="{% url 'auth:logout' %}">Выйти</a></li>
                  </ul>
            </div>
        </li>
    {% else %}
        <li> <a href="{% url 'auth:login' %}">войти</a> </li>
    {% endif %}
    <li>
    <a href="{% url 'basket:view' %}">
        <span>
            {% if basket %}
                {{ basket.0.total_cost|floatformat:0 }} руб
                ({{ basket.0.total_quantity }} шт )
            {% endif %}
        </span>
    </a>
    </li>
</ul>
